{{#if isLoaded}}
  <span class="ember-ui-pagination__meta">{{totalCount}} Items</span>
{{else}}
  {{partial 'components/ember-ui-pagination-load-more'}}
{{/if}}

<ul class="ember-ui-pagination">
  {{#each visibleContent as |item index| }}
    {{ember-ui-pagination-item item=item}}
  {{else}}
    {{#if isLoaded}}<p>No Items to show</p>{{/if}}
  {{/each}}

  {{#if canLoadMore}}
    {{ember-ui-pagination-load-more}}
  {{/if}}
</ul>